.editModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  z-index: 1;
  background: #F8F8F8;
  border-radius: 8px;
  width: var(--container-width);
  padding: 64px;
  max-height: 85vh;
  overflow-y: auto;
}

.editModalContent {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.editModalContent form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
