.userListContainer {
  margin-top: 64px;
}

.userListGrid {
  display: flex;
  flex-direction: row;
  gap: 64px;
  flex-wrap: wrap;
}

.userListFooter {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
